.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-1 {
  background-image: url(./images/bg.webp);
}

.bg-2 {
  background-image: url(./images/image-bg.webp);
}

/* -----------------------------------------------------------------------------

# Base - Genral & Typography

----------------------------------------------------------------------------- */

.bold-text {
  font-weight: bold;
}

@media (max-width: 768px) {
  .bg-responsive {
    background-color: #434343;
  }
}

/* -----------------------------------------------------------------------------

# Slider 

----------------------------------------------------------------------------- */

.clients-slider {
  padding-top: 20px;
  padding-left: 40px;
}

.clients-slider .swiper-slide img {
  opacity: 0.5;
  transition: opacity 0.3s, filter 0.3s; /* Add transition for opacity and filter */
  filter: grayscale(100%);
}

.clients-slider .swiper-slide img:hover {
  filter: none;
  opacity: 0.5;
}

.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  background-color: #ddd;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffc451;
}

/* -----------------------------------------------------------------------------

# Hero Styles

----------------------------------------------------------------------------- */
.hero-bg {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-text {
  display: table;
  height: 100%;
}

.hero-text-tablecell {
  display: table-cell;
  padding: 0 20px; /* Adjust the inner padding as needed */
}

.hero-area {
  height: 100%;
  position: relative;
  z-index: 1;
}

html,
body {
  height: 100%;
}

.hero-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #07212e;
  z-index: -1;
  opacity: 0.6;
}

.hero-text p.subtitle {
  color: #000000;
  font-weight: 700;
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 15px;
}

.hero-text h1 {
  font-size: 64px;
  font-weight: 700;
  font-family: "Helvetica", sans-serif;
  line-height: 1.3;
  color: #fff;
}

.hero-area div {
  height: 100%;
}

.hero-area div.hero-text {
  height: 100%;
  width: 100%;
}

.hero-area div.hero-text-tablecell {
  height: auto;
  vertical-align: middle;
}

.hero-area div.hero-text-tablecell div {
  height: auto;
  vertical-align: middle;
}

.hero-btns {
  margin-top: 35px;
}

.hero-btns a.bordered-btn {
  margin-left: 15px;
}

.hero-area div.hero-form {
  background-color: #fff;
  text-align: center;
  width: 380px;
  margin: 0 auto;
  margin-right: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px #2d2d2d;
  box-shadow: 0 0 15px #2d2d2d;
  position: absolute;
  right: 30px;
  bottom: -15%;
  height: 600px;
}

/* -----------------------------------------------------------------------------

# Slider Styles

----------------------------------------------------------------------------- */

.homepage-slider,
.homepage-slider div {
  height: 100vh;
}

.homepage-slider div.hero-text {
  display: table;
  width: 100%;
}

.homepage-slider div.hero-text-tablecell {
  height: auto;
  vertical-align: middle;
  display: table-cell;
}

.homepage-slider div.hero-text-tablecell div {
  height: auto;
}

.single-homepage-slider {
  background-size: cover;
  background-position: center;
  background-color: #020c0e;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
  padding-left: 10px;
}

.single-homepage-slider:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #051922;
  content: "";
  z-index: -1;
  opacity: 0.7;
}

.homepage-slider {
  position: relative;
}

.hompage-container {
  width: 66.666667%;
  margin-left: auto;
  margin-right: auto;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.main-image {
  width: 400px;
  height: 90px;
  display: block;
  margin: 0 auto;
}

.second-image {
  display: block;
  width: 500px;
  height: 200px;
  position: absolute;
  padding-top: 30px;
  z-index: 1;
}

.slider-navigation {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.single-homepage-slider img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}


.prev-button,
.next-button {
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-family: "Helvetica", sans-serif;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Lighter semi-transparent white on hover */
}

/* -----------------------------------------------------------------------------

# Overlapping Card Styles

----------------------------------------------------------------------------- */
.we-help-section {
  padding: 12rem 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.25rem;
}

@media (min-width: 992px) {
  .overlap-col {
    margin-bottom: 0;
  }
}

.we-help-section .imgs-grid {
  display: -ms-grid;
  display: flex;
  grid-template-columns: repeat(27, minmax(0, 1fr));
  flex-direction: column;
  align-items: center;

  gap: 20px;
  flex: 0 0 65%; /* Take up 65% of the container width */
}
.we-help-section .imgs-grid:before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url("./images/bluedot.webp");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translate(-40%, -40%);
  -ms-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
  z-index: -1;
  left: 30px;
}

@media (max-width: 768px) {
  .we-help-section .imgs-grid:before {
    width: 200px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .imgs-grid {
    flex-direction: column-reverse; /* Reverse the order of items on small screens */
  }
}

.grid.grid-1,
.grid.grid-2 {
  max-width: 100%;
}

@media (max-width: 768px) {
  .grid.grid-2 {
    margin-bottom: 20px;
  }
}

.we-help-section .imgs-grid:after {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url("./images/dot.webp");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translate(40%, -40%);
  -ms-transform: translate(40%, -40%);
  transform: translate(40%, -40%);
  z-index: -1;
  right: -40px;
}

@media (max-width: 976px) {
  .we-help-section .imgs-grid:after {
    display: none; /* Hide the element on screens smaller than 768 pixels */
  }
}

@media (max-width: 768px) {
  .we-help-section .imgs-grid:after {
    display: none; /* Hide the element on screens smaller than 768 pixels */
  }
}

.we-help-section .imgs-grid .third-image {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url("./images/purpledot.webp");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translate(-40%, 40%);
  -ms-transform: translate(-40%, 40%);
  transform: translate(-40%, 40%);
  z-index: -1;
  bottom: 100px;
  left: 60px;
}

@media (max-width: 768px) {
  .we-help-section .imgs-grid .third-image {
    display: none;
  }
}

.we-help-section .imgs-grid .grid {
  position: relative;
}
.we-help-section .imgs-grid .grid img {
  border-radius: 20px;
  max-width: 100%;
}
.we-help-section .imgs-grid .grid.grid-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 30;
  grid-column: 1 / span 30;
  -ms-grid-row: 1;
  -ms-grid-row-span: 30;
  grid-row: 1 / span 30;
  position: relative;
  top: 20px;
  left: 4px;
  right: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
}

@media (max-width: 768px) {
  .we-help-section .imgs-grid .grid.grid-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 20;
    grid-column: 1 / span 20;
    -ms-grid-row: 1;
    -ms-grid-row-span: 30;
    grid-row: 1 / span 30;
  }
}

@media (max-width: 480px) {
  .we-help-section .imgs-grid .grid.grid-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 15;
    grid-column: 1 / span 15;
    -ms-grid-row: 1;
    -ms-grid-row-span: 30;
    grid-row: 1 / span 30;
    margin-left: 0;
  }
}

.main-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.main-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-text {
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
  display: block;
  white-space: normal;
  padding-bottom: 1rem;
  max-width: 80%;
}

@media (max-width: 640px) {
  .main-text {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .main-text {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .main-text {
    font-size: 2.5rem;
  }
}

.grid-button {
  color: #fff;
  background-color: #10b4e4;
  border-radius: 9999px;
  font-size: 0.875rem;
  padding: 10px 25px;
  margin-bottom: 1rem;
  display: block;
  text-align: center;
  cursor: pointer;
}

.grid-button:hover {
  background-color: #3182ce;
}

.we-help-section .imgs-grid .grid.grid-2 {
  position: absolute;
  top: -130px;
  left: 60px;
  display: flex;
  max-width: 12rem;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  background-clip: border-box;
  color: #777;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.grid-2-container {
  padding: 0.75rem;
  display: flex;
  align-items: center;
}

.grid-2-text {
  display: block;
  font-family: sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
  color: #374151;
}

.grid-2-button {
  color: #fff;
  background-color: #fbbf24;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  cursor: pointer;
}

.grid-2-button:hover {
  background-color: #f59e0b;
}

@media (max-width: 768px) {
  .we-help-section .imgs-grid .grid.grid-2 {
    max-width: 8rem;
    left: 30px;
    top: -100px;
  }
  .grid-2-text {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width: 480px) {
  .we-help-section .imgs-grid .grid.grid-2 {
    max-width: 6rem;
    left: 10px;
    top: -80px;
  }
  .grid-2-text {
    font-size: 1rem;
    font-weight: 500;
  }
}

.we-help-section .imgs-grid .grid.grid-3 {
  position: absolute;
  bottom: -30px;
  right: -150px;
}

.grid-3-card {
  position: absolute;
  bottom: -9rem;
  right: 0px;
  display: flex;
  flex-direction: column;
  color: #777;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  width: 14rem;
}
@media (max-width: 976px) {
  .we-help-section .imgs-grid .grid.grid-3 {
    bottom: -20px;
    right: -100px;
    position: static;
    margin-top: 20px;
  }

  .grid-3-card {
    width: 12rem;
    bottom: -6rem;
    right: -10px;
  }

  .grid-3-text {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width: 480px) {
  .grid-3 {
    display: none;
  }
}

.grid-3-img {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
  color: #777;
  height: 16rem;
  padding-bottom: 2rem;
}

.grid-3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.grid-3-text {
  margin-bottom: 0.5rem;
  font-family: sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
  color: #374151;
}

.we-help-section .imgs-grid .grid.grid-4 {
  position: absolute;
  top: 20px;
  right: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 5rem;
  width: 4rem;
  background-color: #fbbf24;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
  cursor: pointer;
}

.grid.grid-4:hover {
  background-color: #f59e0b;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.grid-4-icon {
  color: #fff;
}

.full-width {
  width: 100%;
}

@media (min-width: 640px) {
  .grid-4 {
    height: 3rem;
    width: 2em;
  }
}

@media (min-width: 480px) {
  .grid-4 {
    height: 3rem;
    width: 2em;
  }
}

@media (max-width: 640px) {
  .main-text {
    font-size: 1rem;
  }
}
.we-help-section .woo-card {
  position: absolute;
  bottom: -8rem;
  left: 4rem;
  display: flex;
  width: 25rem;
  height: 6rem;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  color: #777;
  box-shadow: none;
}

.woo-card-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 0;
  padding-bottom: 2rem;
  margin: 0;
  margin-top: 1rem;
  color: #777;
  background-color: transparent;
  box-shadow: none;
  border-radius: 1rem;
  background-clip: border-box;
}

.woo-card-image {
  position: relative;
  display: inline-block;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.woo-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  width: 100%;
}

.woo-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.woo-text {
  display: block;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
  color: #374151;
}

.woo-text2-container {
  display: flex;
  align-items: center;
}

.woo-quoted {
  vertical-align: middle;
  padding-top: 1rem;
  padding-right: 1.5rem;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  color: #cbd5e0;
}

.woo-price {
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.5;
  color: #374151;
}

.woo-card .button-container {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}

.woo-card-button {
  color: #fff;
  background-color: #fbbf24;
  border: none;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.woo-card-button:hover {
  background-color: #f59e0b;
}

@media (max-width: 768px) {
  .we-help-section .woo-card {
    max-width: 20rem;
    height: 5rem;
    padding-top: 20px;
    padding-bottom: 6rem;
  }
}

@media (max-width: 480px) {
  .we-help-section .woo-card {
    max-width: 18rem;
    height: 5rem;
    padding-top: 20px;
    padding-bottom: 6rem;
  }
  .woo-text {
    font-size: 1rem;
  }
  .woo-quoted {
    vertical-align: middle;
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #cbd5e0;
  }

  .woo-price {
    vertical-align: middle;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.card-column {
  flex: 0 0 30%;
  padding-left: 1.25rem;
  padding-top: 8rem;
}

.column-heading {
  font-size: 2.875rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.we-help-section .col-span-12:last-child::after {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url("./images/dot.webp");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(100%, -100%);
  z-index: -1;
  top: 15rem;
  right: 30em;
}

/* Pseudo-element for the top left */
.we-help-section .col-span-12:last-child::before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url("./images/bluedot.webp");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-100%, -100%);
  z-index: -1;
  top: 15rem;
  left: 17rem;
}

@media (max-width: 976px) {
  .we-help-section {
    flex-direction: column;
  }

  .imgs-grid {
    flex: 0 0 100%;
  }

  .card-column {
    margin-top: 40px;
  }
}

/* -----------------------------------------------------------------------------

# Footer Styles

----------------------------------------------------------------------------- */
.footer ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: #213757;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #6d6d6d;
}
.single-cta i {
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-img {
  max-width: 60px;
  max-height: 30px;
}
.footer-img img {
  margin-right: 14px;
  margin-bottom: 20px;
}

.footer-logo img {
  max-width: 100px;
  max-height: 30px;
}
.footer-text p {
  font-size: 12px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

.footer-widget ul li {
  width: auto;
  font-size: 12px;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #000000;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.copyright-area {
  background: #213757;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 12px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 12px;
  color: #878787;
}

.button-container {
  display: flex;
}

.custom-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 0rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  height: 50px;
  width: 200px;
}

.button-text {
  font-size: 0.75rem;
  font-weight: 500;
}

.button-icon {
  height: 1.25rem;
  width: 1.25rem;
  fill: none;
  margin-left: 1.5rem;
}
.blue-button {
  background-color: #1e90ff;
  color: #fff;
  border: 1px solid #1e90ff;
}

.blue-button:hover {
  background-color: #fff;
  color: #1e90ff;
}

.white-button {
  background-color: #fff;
  color: #10b4e4;
  border: 1px solid #fff;
  margin-right: 1rem;
  margin-left: 4rem;
}

.white-button:hover {
  background-color: #10b4e4;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .custom-button {
    margin-top: 1rem;
    margin-left: 0;
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .custom-button {
    margin-top: 1rem;
    margin-left: 0;
    width: 100%;
  }
}
/* -----------------------------------------------------------------------------

# Header Styles

----------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: rgba(33, 55, 87, 0);
  transition: background-color 0.3s ease-in-out;
}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.nav-links li {
  list-style: none;
  margin: 0 10px;
}

.nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover {
  background: #3a3b3c;
}
.nav-links .mobile-item {
  display: none;
}

.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3a3b3c;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    background: #3a3b3c;
  }

  .content .row header {
    font-size: 19px;
  }
}
nav input {
  display: none;
}

.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div {
  font-size: 45px;
  font-weight: 600;
}

input[type="radio"] {
  display: none;
}

.nav-links li .fa-user,
.nav-links li .fa-magnifying-glass,
.nav-links li .fa-bell {
  color: #fff;
  margin-left: 1.5rem;
}

/* -----------------------------------------------------------------------------

# Testimonial Styles

----------------------------------------------------------------------------- */

.testimonial-container {
  background-color: #ffffff;
  margin: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 700px; /* Total width of the wrapper */
}

.testimonial-section {
  margin-bottom: 1.5rem;
}

.testimonial-heading {
  font-size: 0.6rem;
  font-weight: 600;
  color: #ffcc00;
}

.testimonial-title {
  font-size: 1.75rem;
  font-weight: normal;
  color: #5c5c5c;
}

.testimonial-column {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
}

.testimonial-card {
  width: 350px; /* Increase the width */
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 0rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-content {
  display: flex;
  flex-direction: column;
}

.testimonial-text {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.5;
  color: #666666;
}

.author-info {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.author-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.author-name {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #666666;
}

.author-role {
  margin: 0;
  font-size: 0.8rem;
  font-weight: normal;
  color: #999999;
}

.no-border {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

/* Style for the cards on the left */
.testimonial-card.left {
  margin-bottom: 1rem; /* Adjust the gap between cards */
}

/* Style for the cards on the right */
.testimonial-card.right {
  margin-top: 2rem;
  /* Adjust the height of the cards */
}

@media screen and (max-width: 767px) {
  .testimonial-wrapper {
    flex-direction: column;
  }

  .testimonial-column {
    margin-bottom: 2rem;
  }
}

/* -----------------------------------------------------------------------------

# Storetasker Styles

----------------------------------------------------------------------------- */
.storetasker-container {
  background-color: #264e86;
  padding-bottom: 4rem;
}

.content-wrapper {
  max-width: 64rem;
  margin: 0 auto;
  padding: 9rem 1rem 0 1rem;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
}

.subtitle {
  font-size: 0.75rem;
  font-weight: 600;
  color: #f59e0b;
}

.title {
  font-size: 2.25rem;
  font-weight: 500;
  color: #e6e6e6;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.features {
  display: flex;
  justify-content: space-between;
}

.feature {
  flex-basis: 30%;
  text-align: left;
}

.icon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: bottom;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
  margin-top: 0;
}

.feature-content {
  color: #1a202c;
}

.feature-title {
  font-size: 0.75rem;
  font-weight: 600;
  color: #e6e6e6;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0.5rem;
}

.feature-description {
  font-size: 1rem;
  line-height: 1.5;
  color: #919191;
}

.call-to-action {
  text-align: center;
  padding-top: 5rem;
}

.cta-button {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: #506c9c;
  padding: 16px 36px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 3rem;
}

.cta-button:hover {
  background-color: transparent;
  color: #fff;
}

.number {
  display: inline-block;
  font-size: 12em;
  font-weight: 600;
  color: #44699d;
  margin: 0;
  padding-left: 6rem;
  opacity: 0.4;
}

@media (max-width: 768px) {
  .feature {
    flex-basis: 100%;
    text-align: center;
  }

  .number {
    font-size: 8em;
    padding-left: 0;
  }
}

/* -----------------------------------------------------------------------------

# Expert Styles

----------------------------------------------------------------------------- */
.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.image-container {
  margin-right: 4rem;
}

.image {
  max-width: 350px;
  height: 430px;
}

.content-container {
  max-width: 350px;
  margin-left: 4rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.category {
  font-size: 12px;
  font-weight: bold;
  color: #ffd700;
  margin-bottom: 10px;
}

.content .title {
  font-size: 36px;
  font-weight: normal;
  color: #4c4c4c;
  line-height: 1;
}

.content .sub-title {
  font-size: 36px;
  font-weight: normal;
  color: #686868;
  opacity: 0.8;
  margin-bottom: 10px;
}

.content .description {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  opacity: 0.4;
  margin-bottom: 20px;
  line-height: 1;
}

.content .list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content .list li {
  font-size: 14px;
  font-weight: bold;
  color: #4c4c4c;
  opacity: 0.9;
  margin-bottom: 10px;
}

.list li .icon {
  margin-right: 5px;
}

.cta {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  max-width: 280px;
  background-color: #fff;
  padding: 12px 22px;
  color: rgb(28, 156, 235);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 20px;
}

.cta:hover {
  background-color: rgb(28, 156, 235);
  color: #fff;
}

.arrow-icon {
  height: 15px;
  width: 30px;
  stroke: currentColor;
  stroke-width: 2;
  margin-left: 2.5rem;
}

.fa {
  color: rgb(250, 191, 0);
  margin-right: 20px;
}

.relative-container {
  position: relative;
}

.expert-placeholder {
  height: 26rem;
}

.expert-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: block;
}

.storetasker {
  position: relative;
  z-index: 0;
}

@media (max-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .expert-container {
    position: relative; /* Change position to relative */
    z-index: 10;
    display: block;
    margin-bottom: 1rem;
  }
  .content-container {
    padding-top: 3rem;
  }
}

/* -----------------------------------------------------------------------------

# Cards Styles

----------------------------------------------------------------------------- */

.article-container {
  background-color: #ffffff;
  height: 100%;
  margin-bottom: 4rem;
}

.article-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.custom-grid {
  display: flex;
  justify-content: center;
}

.custom-column {
  width: 350px; /* Three columns with 10px gutter */
  margin-right: 5px;
}

.custom-card {
  width: 95%;
  margin-bottom: 20px;
}

.column-2 {
  margin-top: 6rem;
}

.card-3,
.card-4,
.card-6 {
  margin-top: 20px;
}
.custom-img {
  width: 100%;
}

.custom-content {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-title {
  color: #878787;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  display: flex;
  justify-content: flex-start;
}

.custom-subtitle {
  color: #4b5563;
  font-weight: 400;
  font-size: 0.775rem;
  margin-left: auto;
}
.custom-description {
  color: #4b5563;
  font-weight: 400;
  font-size: 0.775rem;
}

.custom-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.custom-price {
  color: #374151;
  font-weight: 700;
  font-size: 1.75rem;
}

.custom-star {
  height: 1rem;
}

.flex-container {
  display: flex;
  align-items: center;
}

.card-title {
  color: #2f2f2f;
  font-weight: 500;
  font-size: 4rem;
  margin-top: 0.25rem;
}

@media (max-width: 768px) {
  .custom-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-column {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* -----------------------------------------------------------------------------

# Services Styles

----------------------------------------------------------------------------- */
.service-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 50px;
  margin-top: 8rem;
}

.service-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 25rem;
}

.service-block {
  padding-bottom: 40px;
}

.service-subtitle {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  color: #f59e0b;
}

.service-title {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  color: #000;
}

.service-link {
  display: inline-flex;
  align-items: center;
  background-color: #3b82f6;
  padding: 12px 32px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 3rem;
}

.service-link:hover {
  background-color: transparent;
  color: #fff;
}

.service-link-text {
  font-size: 0.875rem;
  font-weight: 500;
}

.service-icon {
  height: 1.25rem;
  width: 1.25rem;
  transform: rotateY(180deg);
}

@media screen and (max-width: 976px) {
  .service-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .service-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .service-link {
    margin-top: 1rem;
  }
}

/* -----------------------------------------------------------------------------

# Banner styles

----------------------------------------------------------------------------- */

.custom-banner {
  position: fixed;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  height: 15rem;
  padding: 2rem;
  right: 1.5rem;
  top: 9rem;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.custom-banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.close-button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-icon {
  width: 0.875rem;
  height: 0.875rem;
  stroke: #9ca3af;
}

.banner-info {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  height: 1rem;
  margin-right: 0.75rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

.info-text {
  color: #374151;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.info-link {
  transition: opacity 0.3s;
}

.info-link:hover {
  opacity: 0.75;
}
